<?xml version="1.0" encoding="windows-1252" ?>
<!DOCTYPE Entity SYSTEM "jbo_03_01.dtd">
<!---->
<Entity
  xmlns="http://xmlns.oracle.com/bc4j"
  Name="Settings"
  Version="12.2.1.0.31"
  InheritPersonalization="merge"
  DBObjectType="table"
  DBObjectName="settings"
  AliasName="Settings"
  BindingStyle="JDBC">
  <Attribute
    Name="Id"
    IsNotNull="true"
    ColumnName="id"
    SQLType="INTEGER"
    Type="java.lang.Integer"
    ColumnType="INT"
    TableName="settings"
    PrimaryKey="true">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="10"/>
    </DesignTime>
  </Attribute>
  <Attribute
    Name="MessageBodyProactive"
    IsNotNull="true"
    Precision="250"
    ColumnName="message_body_proactive"
    SQLType="VARCHAR"
    Type="java.lang.String"
    ColumnType="VARCHAR"
    TableName="settings">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="250"/>
    </DesignTime>
  </Attribute>
  <Attribute
    Name="MessageBodyReactive"
    IsNotNull="true"
    Precision="250"
    ColumnName="message_body_reactive"
    SQLType="VARCHAR"
    Type="java.lang.String"
    ColumnType="VARCHAR"
    TableName="settings">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="250"/>
    </DesignTime>
  </Attribute>
  <Attribute
    Name="TimeBeforeAppointment"
    IsNotNull="true"
    ColumnName="time_before_appointment"
    SQLType="INTEGER"
    Type="java.lang.Integer"
    ColumnType="INT"
    TableName="settings">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="10"/>
    </DesignTime>
  </Attribute>
  <Attribute
    Name="TimeToSendMessages"
    ColumnName="time_to_send_messages"
    SQLType="TIMESTAMP"
    Type="java.sql.Time"
    ColumnType="TIME"
    TableName="settings"/>
  <Attribute
    Name="Description"
    Precision="150"
    ColumnName="description"
    SQLType="VARCHAR"
    Type="java.lang.String"
    ColumnType="VARCHAR"
    TableName="settings">
    <DesignTime>
      <Attr Name="_DisplaySize" Value="150"/>
    </DesignTime>
  </Attribute>
  <Attribute
    Name="IsActive"
    IsNotNull="true"
    Domain="model.Enum"
    ColumnName="is_active"
    SQLType="STRUCT"
    Type="model.common.Enum"
    ColumnType="ENUM"
    TableName="settings"/>
  <Attribute
    Name="Site"
    IsNotNull="true"
    Domain="model.Enum"
    ColumnName="site"
    SQLType="STRUCT"
    Type="model.common.Enum"
    ColumnType="ENUM"
    TableName="settings"/>
  <Key
    Name="Primary1"
    PrimaryKey="true">
    <DesignTime>
      <Attr Name="_DBObjectName" Value="PRIMARY"/>
    </DesignTime>
    <AttrArray Name="Attributes">
      <Item Value="model.Settings.Id"/>
    </AttrArray>
  </Key>
</Entity>
